@use "Style/colors" as color;

@keyframes translate {
    0% {
        background-position: right top;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}

@keyframes underlineAnimation {
    0% {
        background-color: right top;
    }
    50% {
        background-color: right top;
    }
    100% {
        background-position: left top;
    }
}

.App-light {
    .themes {
        button {
            border: 0.5px solid color.$highlight-light;
        }
        .lightBtn {
            border-bottom-left-radius: 10px;
            color: color.$bg-light;
            background-color: color.$highlight-light;
            transition: transform 0.5s ease;
        }
        .lightBtn:hover {
            transform: scale(1.1) translateX(-3px);
        }
        .darkBtn {
            border-top-right-radius: 10px;
            color: color.$highlight-light;
            background-color: transparent;
            transition: transform 0.5s ease;
        }
        .darkBtn:hover {
            transform: scale(1.1) translateX(3px);
        }
    }

    .LandingPage {
        min-height: 100vh;
        background-color: color.$bg-light;
        transition: background-color 0.4s ease;

        h1 {
            color: color.$title-light;
        }

        p {
            color: color.$text-light;
        }

        strong {
            color: color.$highlight-light;
        }

        i {
            color: color.$highlight-light;
        }

        .Headers {
            .emaillink {
                text-decoration: none;
                color: color.$highlight-light;
            }

            .landingBtns {
                height: 100%;

                button {
                    position: relative;
                    border: none;
                    max-width: 200px;
                    height: 60px;
                    margin: 10px;
                    border-radius: 10px;
                    background: linear-gradient(
                        to right,
                        color.$highlight-light 50%,
                        color.$bg-light 50%
                    );
                    background-size: 190% 100%;
                    background-position: right top;
                    transition-property: background-position;
                    transition-duration: 0.4s;
                    transition-timing-function: ease;

                    a {
                        font-weight: 500;
                        text-decoration: none;
                        color: color.$highlight-light;
                        font-size: 18px;
                        transition-property: color;
                        transition-duration: 0.8s;
                        transition-timing-function: ease;
                    }
                }

                button:hover {
                    a {
                        color: color.$bg-light;
                    }

                    background-size: 200% 100%;
                    background-position: left top;
                }
            }

            .thirdCol {
                height: 20vh;

                .aboutme {
                    text-decoration: none;
                    position: relative;
                    cursor: pointer;
                    background: linear-gradient(
                        to right,
                        color.$title-light 46%,
                        color.$bg-light,
                        color.$title-light 54%
                    );
                    background-size: 220% 100%;
                    background-position: right top;
                    background-clip: text;
                    color: transparent;
                    animation: translate 6s ease-out infinite;
                }
            }

            .secondCol {
                height: 80vh;
            }

            .firstCol {
                height: 80vh;
            }
        }
        .about-section {
            height: 100vh;
            overflow: hidden;
            padding-top: calc(100vh * 0.1);
            .About-container {
                position: relative;
                left: -25%;
                transform: rotateZ(3deg);
                height: calc(100vh * 0.8);
                width: 150%;
                background-color: color.$highlight-light;

                .about-content {
                    transform: rotateZ(-3deg);
                    position: relative;
                    height: 500px;
                    h1 {
                        color: color.$bg-light;
                    }
                    p {
                        color: color.$bg-light;
                    }
                    .linkedIn-link,
                    i {
                        color: color.$bg-light;
                        font-weight: bold;
                        position: relative;
                    }
                    .linkedIn-link:before {
                        position: absolute;
                        content: "";
                        background-color: color.$bg-light;
                        border-radius: 10px;
                        transform: scaleX(0);
                        width: 80%;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        transition: all 0.3s ease-in-out;
                    }
                    .linkedIn-link:hover:before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.App-dark {
    .themes {
        button {
            border: 0.5px solid color.$highlight-dark;
        }
        .lightBtn {
            border-bottom-left-radius: 10px;
            color: color.$highlight-dark;
            background-color: transparent;
            transition: transform 0.5s ease;
        }
        .lightBtn:hover {
            transform: scale(1.1) translateX(-3px);
        }
        .darkBtn {
            border-top-right-radius: 10px;
            color: color.$bg-dark;
            background-color: color.$highlight-dark;
            transition: transform 0.5s ease;
        }
        .darkBtn:hover {
            transform: scale(1.1) translateX(3px);
        }
    }

    .LandingPage {
        min-height: 100vh;
        background-color: rgba(51, 51, 51, 0.8);
        background-color: color.$bg-dark;
        transition: background-color 0.4s ease;

        h1 {
            color: color.$title-dark;
        }

        p {
            color: color.$text-dark;
        }

        strong {
            color: color.$highlight-dark;
        }

        i {
            color: color.$highlight-dark;
        }

        .Headers {
            .emaillink {
                text-decoration: none;
                color: color.$highlight-dark;
            }

            .landingBtns {
                height: 100%;

                button {
                    border: none;
                    max-width: 200px;
                    height: 60px;
                    margin: 10px;
                    border-radius: 10px;
                    border: 3px solid color.$highlight-dark;
                    background-color: color.$bg-dark;
                    transition: box-shadow 0.4s;

                    a {
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 18px;
                        color: color.$highlight-dark;
                    }
                }
                button:hover {
                    box-shadow: inset 0 0 0.5rem 0 color.$highlight-dark,
                        0 0 0.5rem 0 color.$highlight-dark;
                }
            }

            .thirdCol {
                height: 20vh;
                .aboutme {
                    text-decoration: none;
                    position: relative;
                    cursor: pointer;
                    background: linear-gradient(
                        to right,
                        color.$title-dark 46%,
                        color.$highlight-dark,
                        color.$title-dark 54%
                    );
                    background-size: 220% 100%;
                    background-position: right top;
                    background-clip: text;
                    color: transparent;
                    animation: translate 6s ease-out infinite;
                }
            }

            .secondCol {
                height: 80vh;
            }

            .firstCol {
                height: 80vh;
            }
        }
        .about-section {
            height: 100vh;
            overflow: hidden;
            padding-top: calc(100vh * 0.1);
            .About-container {
                position: relative;
                left: -25%;
                transform: rotateZ(3deg);
                height: calc(100vh * 0.8);
                width: 150%;
                border: 2px solid color.$highlight-dark;
                box-shadow: inset 0 0 0.5rem 0 color.$highlight-dark,
                    0 0 0.5rem 0 color.$highlight-dark;
                .about-content {
                    transform: rotateZ(-3deg);
                    position: relative;
                    height: 500px;
                    h1 {
                        color: color.$title-dark;
                    }
                    p {
                        color: color.$text-dark;
                    }
                    .linkedIn-link,
                    i {
                        color: color.$text-dark;
                        font-weight: bold;
                        position: relative;
                    }
                    .linkedIn-link:before {
                        position: absolute;
                        content: "";
                        background-color: color.$text-dark;
                        box-shadow: 0 0 0.5rem 0 color.$highlight-dark;;
                        border-radius: 10px;
                        transform: scaleX(0);
                        width: 80%;
                        bottom: -2px;
                        left: 0;
                        height: 2px;
                        transition: all 0.3s ease-in-out;
                    }
                    .linkedIn-link:hover:before {
                        transform: scaleX(0.99);
                    }
                }
            }
        }
    }
}
