// theme colors:
$bg-light: #EBEBEB;
//rgba to control opacity for animation
$bg-dark: rgba(51, 51, 51,1);
$highlight-light:#00524F;
$highlight-dark:#00E0D9;
$title-light:#333333;
$title-dark:#EBEBEB;
$text-light:#525252;
$text-dark:#C2C2C2;

